<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-grid>
      <ion-row>
        <ion-col width-10>
          <ion-icon name="menu" (click)="openMenu()"></ion-icon>
        </ion-col>
        <ion-col width-90>
          <ion-title>Home</ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>

<menu-directive></menu-directive>

<ion-content>
  <ion-card>
    <img src="assets/image/home1.jpg"/>
    <div class="card-title">Thịt</div>
    <div class="card-subtitle">Nổi bật</div>
  </ion-card>

  <ion-card>
    <img src="assets/image/home2.jpg"/>
    <div class="card-title">Rau</div>
    <div class="card-subtitle">Nổi bật</div>
  </ion-card>

  <ion-card>
    <img src="assets/image/home3.png"/>
    <div class="card-title">Nướng</div>
    <div class="card-subtitle">Nổi bật</div>
  </ion-card>
</ion-content>
