<ion-header>
  <ion-navbar>
    <ion-row>
      <ion-col>
        <ion-title>order</ion-title>
      </ion-col>
      <ion-col>
        <ion-icon name="checkmark" (click)="save()"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="tableProcessingOrder!= null">
    <div name="information" float="left" width="80%">
      <ion-card *ngFor="let item of tableProcessingOrder.items;let i = index" [attr.data-index]="i" class="item"
                [ngClass]="{'notAvailabe':item.status == 1,'available': item.status == 0,'finish': item.status == 2}">
        <ion-icon name="trash" item-right *ngIf="item.status == 0" (click)="deleteItem(i)" class="icon-remove"></ion-icon>
        <ion-card-header class="card-header">{{item.dish.name}}</ion-card-header>
        <ion-card-content>
          Ghi chú: {{item.description}}<br/>
          Số lượng: {{item.quantity}}
        </ion-card-content>
        <!--<ion-spinner name="bubbles" *ngIf="item.status == 0" class="icon-status" </ion-spinner>-->
      </ion-card>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      <span *ngIf="customerName != ''">{{customerName}}</span>
      <ion-icon name="add-circle" (click)="pushMenuPage()"></ion-icon>
      <ion-icon name="person-add" (click)="setCustomerName()"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-footer>


