page-order {
  ion-footer {
    ion-toolbar {
      ion-title {
        button {
          ion-icon {
            padding-left: 10px;
          }
        }
        ion-icon {
          float: right;
          font-size: 30px;
        }
      }
    }
  }
}
