
page-order {
  ion-header {
    ion-navbar {
      ion-icon {
        float: right;
        font-size: 30px;
      }
    }
  }

  ion-content {
    ion-card{
      color: white;
      .card-header{
        color: white;
      }
    }
    .available {
      background-color: #d9534f;
    }
    .notAvailabe{
      background-color:#f0ad4e;
    }
    .finish{
      background-color: #0275d8;
    }
    .icon-remove {
      float: right;
      font-size: 25px;
    }

    .item {
      padding-bottom: 10px;
    }
    .icon-status {
      float: right;
      padding-right: 10px;
      color: red;
    }
    .customerName {
      padding: 5px;
    }
    .list-md {
      margin: 2px 0px 5px 0px;
    }
    img {
      height: 10px;
      float: right;
    }
  }

  ion-footer {
    ion-toolbar {
      ion-title {
        button {
          ion-icon {
            padding-left: 10px;
          }
        }
        ion-icon {
          float: right;
          font-size: 30px;
          padding-left: 8px;
        }
      }
    }
  }
}
