reserve-form-component{
  ion-content{
    .item-input .label-md, .item-select .label-md, .item-datetime .label-md{
      color:black;
    }

    .select-md {
      padding: 13px 8px 13px 9px;
    }

    ion-select{
      max-width: 100%;
    }
    button{
      margin: 0 auto;
    }
    .error-message {
      p {
        color: #FF6153;
      }
    }
  }
}
