reserve-form-component {
  ion-content {
    .item-input .label-md, .item-select .label-md, .item-datetime .label-md {
      color: black;
    }

    .item-md {
      padding-left: 0px;
    }

    ion-select {
      max-width: 100%;
    }

    button {
      margin-top: 20px;
    }

    .error-message {
      p {
        color: #FF6153;
      }
    }
  }
}
