
<ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="login">

  <ion-card>
    <ion-list>

      <ion-grid>
        <ion-row>

          <ion-col width-10>
            <ion-icon name="person"></ion-icon>
          </ion-col>

          <ion-col width-90>
            <ion-item>
              <ion-label floating>Tài khoản</ion-label>
              <ion-input type="text" ></ion-input>
            </ion-item>
          </ion-col>

        </ion-row>

        <ion-row>
          <ion-col width-10>
            <ion-icon name="key"></ion-icon>
          </ion-col>
          <ion-col width-90>
            <ion-item>
              <ion-label floating>Mật khẩu</ion-label>
              <ion-input type="password"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

      <button ion-button type="submit" (click)="pushPage()">Đăng nhập</button>

      <ion-item>
        <ion-label>Ghi nhớ tài khoản</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>

    </ion-list>
  </ion-card>



</ion-content>
