<ion-header>
  <ion-navbar color="danger">
    <ion-title>
      <ion-grid>
        <ion-row>
          <ion-col width-10>
            <ion-icon name="menu" (click)="openMenu()"></ion-icon>
          </ion-col>
          <ion-col width-90>
            <ion-title>Danh sách món ăn</ion-title>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background-color: #EFF3F2">
  <ion-searchbar placeholder="Tìm kiếm" [(ngModel)]="filter.search"></ion-searchbar>

  <ion-grid>
    <ion-row>
      <ion-col width-30>
        <ion-item>
          <ion-select [(ngModel)]="filter.status">
            <ion-option value="" selected="true">Tất cả</ion-option>
            <ion-option value="1">Còn</ion-option>
            <ion-option value="0">Hết</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col width-70>
        <ion-item>
          <ion-select [(ngModel)]="filter.category">
            <ion-option value="" selected="true">Tất cả</ion-option>
            <ion-option value="1">Nướng</ion-option>
            <ion-option value="2">Salad</ion-option>
            <ion-option value="3">Kho</ion-option>
            <ion-option value="4">Chiên</ion-option>
            <ion-option value="5">Canh</ion-option>
            <ion-option value="6">Rau</ion-option>
            <ion-option value="7">Trộn</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card *ngFor="let dish of (dishes |statusPipe:filter.status| categoryPipe:filter.category | searchPipe: filter.search )">
    <dish-directive [item]="dish" ></dish-directive>
  </ion-card>
</ion-content>
