table-directive{
  .button-md{
    font-size: 12px;
  }
  img{
    width: 70%;
    margin: 0 auto;
  }
  p{
    text-align: center;
  }
  .name{
    font-weight: bold;
  }
  .location{
  }
  button{

  }
  .pay{
    float: right;
    border-radius: 50px;
  }
}
