order-item-component{
  .name{
    font-size: 18px;
    padding: 5px;
    font-weight: bold;
  }
  .price{
    font-size: 15px;
    padding: 5px;
  }

  .quantity{
    font-size: 15px;
    padding: 5px;
  }

  .note{
    font-size: 15px;
    padding: 5px;
  }
}
