<ion-header>
  <ion-navbar>
    <!--<button ion-button icon-only menuToggle (click)="takeMeBack()">-->
      <!--<ion-icon name="arrow-round-back"></ion-icon>-->
    <!--</button>-->
    <ion-title>
      Danh sách bàn
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col width-50>
            <img src="assets/image/use.jpg">
            <ion-label>Ngọc Huy</ion-label>
          </ion-col>
          <ion-col width-50>

          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-item-group>
      <ion-item-divider color="light">Menu</ion-item-divider>
      <ion-item (click)="pushTablePage()">Danh sách bàn</ion-item>
      <ion-item (click)="pushListDish()">Danh sách món ăn</ion-item>
      <ion-item [navPush]="pushReservesPage">Danh sách bàn đặt trước</ion-item>
    </ion-item-group>
  </ion-content>
</ion-menu>

<ion-nav id="nav" #content [root]="rootPage"></ion-nav>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col width-50>
        <ion-input type="text" placeholder="Tên bàn" [(ngModel)]="filter.searchName"></ion-input>
      </ion-col>
      <ion-col width-50>
        <ion-input type="text" placeholder="Vị trị bàn" [(ngModel)]="filter.searchLocation"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item>
    <ion-label>Trạng thái:</ion-label>
    <ion-select [(ngModel)]="filter.status">
      <ion-option value="" selected="true">Tất cả</ion-option>
      <ion-option value="1">Chưa đặt món</ion-option>
      <ion-option value="0">Đã đặt món</ion-option>
    </ion-select>
  </ion-item>
  <div
    *ngFor="let table of (tables | statusPipe:filter.status | searchNamePipe: filter.searchName | searchLocationPipe: filter.searchLocation)">
    <table-directive [item]="table"></table-directive>
  </div>
</ion-content>
