<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-grid>
        <ion-row>
          <ion-col width="50">
            <ion-select>
              <ion-option value="no_oder" selected="true">Chưa order</ion-option>
              <ion-option value="order">Đã order</ion-option>
            </ion-select>
          </ion-col>

          <ion-col width="20" end>
            <button ion-button><ion-icon name="search" (click)="pushSearch()"></ion-icon></button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row wrap>
      <ion-col width-33 *ngFor="let table of tables" (click)="presentActionSheet()">
        <table-directive [item]="table"></table-directive>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
