page-login {
  ion-header {
    background-image: url('../assets/image/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 140px;
  }

  .login {
    p{
      color: red;
    }
    .item-md {
      padding-left: 0px;
    }

    ion-item {
      padding-left: 0px;
    }

    button {
      margin-top: 20px;
      margin-top: 30px;
      margin-bottom: 20px;
    }
  }
}
