<ion-header class="header">
</ion-header>

<ion-content padding class="login">

  <ion-list>

    <ion-item>
      <ion-label floating>Tài khoản</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Mật khẩu</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

    <button ion-button block color="secondary" (click)="pushPage()">Đăng nhập</button>

    <ion-label style="color: #32DB64;text-align: center">Quên mật khẩu</ion-label>

  </ion-list>


</ion-content>
