app-component {
  ion-menu{

    .my-container{
      color: white;
      background-image: url('../assets/image/bg_lg3.jpg');
      background-repeat: no-repeat;
      background-size: cover;

      .user{
        img {
          width: 70px;
          border-radius: 50px;
          padding-top: 5px;
        }
        p{
          font-size:13px;
          float: left;
        }
      }

      ion-icon{
        font-size: 22px;
      }

      button{
        color: white;
        font-size: 13px;
      }
    }

    .item-md {
      background-color: transparent;
    }

    .item-wp{
      background-color: transparent;
      color: white;
    }

    .item-ios{
      background-color: transparent;
      color: white;
    }
  }
}



