<ion-header>
  <ion-navbar color="danger">
    <ion-title>Chuyển bàn</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background-color: #EFF3F2">
  <ion-card>
    <ion-card-header>
      {{table.name}}
    </ion-card-header>
    <ion-card-content>
      {{table.location}}
    </ion-card-content>
  </ion-card>
  <ion-card>

    <ion-card-content>
      <ion-item>
        <ion-label>Chuyển sang bàn:</ion-label>
        <ion-select [(ngModel)]="tBDestination">
          <ion-option *ngFor="let table of tables" [value]="table">{{table.name}}<span>({{table.location}})</span>
          </ion-option>
        </ion-select>
      </ion-item>
      <button ion-button color="danger" block (click)="move()">
        Chuyển bàn
      </button>
    </ion-card-content>

  </ion-card>
</ion-content>
